---
- name: Install docker deps packages
  become: yes
  apt:
    pkg:
    - ca-certificates
    - curl
    - gnupg
    - lsb-release
- name: Test if Docker's GPG key is present
  stat:
    path: "/usr/share/keyrings/docker-archive-keyring.gpg"
  register: dockergpg
- name: Install GPG keys
  shell: |
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
    curl -fsSL https://nvidia.github.io/libnvidia-container/gpgkey \
        | sudo gpg --dearmor -o /usr/share/keyrings/nvidia-container-toolkit-keyring.gpg
    curl -s -L https://nvidia.github.io/libnvidia-container/stable/deb/nvidia-container-toolkit.list \
        | sed 's#deb https://#deb [signed-by=/usr/share/keyrings/nvidia-container-toolkit-keyring.gpg] https://#g' \
        | sudo tee /etc/apt/sources.list.d/nvidia-container-toolkit.list
  when: not dockergpg.stat.exists
- name: Set stable repo
  shell:
    cmd: >
      echo
      "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg]
      https://download.docker.com/linux/ubuntu
      $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
- name: Install docker
  become: yes
  apt:
    update_cache: yes
    pkg:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-compose-plugin
    - nvidia-container-toolkit
- name: Set nvidia docker runtime
  become: yes
  shell: nvidia-ctk runtime configure --runtime=docker
- name: Remove dependencies that are no longer required
  become: yes
  apt:
    autoremove: yes
- name: Ensure group "docker" exists
  become: yes
  group:
    name: docker
    state: present
- name: Set user settings
  become: yes
  user:
      name: "{{ ansible_user_id }}"
      shell: /usr/bin/zsh
      groups: docker
      append: yes
      generate_ssh_key: yes
- name: set the newgroup
  shell: newgrp docker
- name: Test if docker-compose is present
  stat:
    path: "/usr/local/bin/docker-compose"
  register: dockercompose
- name: Install docker-compose
  become: yes
  shell: |
    wget -O docker-compose https://github.com/docker/compose/releases/latest/download/docker-compose-linux-x86_64
    chmod +x docker-compose
    mv docker-compose /usr/local/bin/
  when: not dockercompose.stat.exists
